*{
	margin: 0;
	padding: 0;
}
body, html{
	width: 100%;
	height: 100%;
	background: #F0F0F0;
}
.logo img{
	width: 15%;
	position: absolute;
	left: 42.5%;
	top: 3%; 
}
.back-button i{
	font-size: 22px;
	left: 15%;
	position: absolute;
	top: 6%;
	cursor: pointer;
}
main{
	width: 70%;
	height: 80%;
	margin-top: 10%;
	margin-left: 15%;
	background: white;
	border-radius: 20px;
}
.tittle h1{
	text-align: center;
	font-family: Helvetica Neue;
	padding-top: 20px;
	margin-bottom: 50px;
}
main ul{
	width: 90%;
	margin-left: 5%;

}
main li{
	display: block;
	font-family: Helvetica Neue;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
span{
	float: right;
	font-size: 12px;
}
